.title {
  text-align: center;
}

.titleSmall,
.titleBig {
  background-image: var(--header-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  background-position: -100%;
}

.titleSmall {
  font-size: 4.5rem;
}

.titleBig {
  font-size: 10em;
  filter: var(--header-shadow);
  margin-top: -55px;
}

@media (prefers-reduced-motion: no-preference) {
  .titleSmall {
    animation: move-bg 13s alternate-reverse infinite;
  }

  .titleBig {
    animation: move-bg 15s alternate infinite;
  }

  @keyframes move-bg {
    to {
      background-position: 100%;
    }
  }
}

@media (max-width: 750px) {
  .title {
    line-height: 1;
  }

  .titleSmall {
    font-size: 7vi;
  }

  .titleBig {
    font-size: 18vi;
    margin-top: 0;
    filter: none;
  }
}
