.title {
  text-align: center;
}

.titleSmall,
.titleBig {
  background-image: linear-gradient(to right, hsl(0, 0%, 98%), #eec32d, #ec4b4b, #709ab9, #4dffbf, hsl(0, 0%, 98%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  background-position: -100%;
}

.titleSmall {
  font-size: 4.5rem;
}

.titleBig {
  font-size: 10em;
  filter: drop-shadow(0 -5px 10px rgba(0, 0, 0, .6));
  margin-top: -60px;
}

@media (prefers-reduced-motion: no-preference) {
  .titleSmall {
    animation: move-bg 13s alternate-reverse infinite;
  }

  .titleBig {
    animation: move-bg 15s alternate infinite;
  }

  @keyframes move-bg {
    to {
      background-position: 100%;
    }
  }
}
