:root {
  --max-width: 800px;
  --light: #EFEDE3;
  --dark: #1A1A1A;

  --foreground: var(--dark);
  --background: var(--light);
  --high-opacity: rgba(0, 0, 0, .3);
  --low-opacity: rgba(0, 0, 0, .06);

  --header-gradient: linear-gradient(to right, #d3f586, #d62a8f, #4921b1, #3d85c6, #134f5c, #d3f586);
  --header-shadow: drop-shadow(0 -5px 10px rgba(0, 0, 0, .3));

  --box-background: #FFFFFF;
  --box-text: var(--dark);
}

[data-theme='dark'] {
  --foreground: var(--light);
  --background: var(--dark);
  --high-opacity: rgba(255, 255, 255, .3);
  --low-opacity: rgba(255, 255, 255, .1);

  --header-gradient: linear-gradient(to right, #f6f390, #ffaeca, #d799ff, #84dfff, #90f6b8, #f6f390);
  --header-shadow: drop-shadow(0 -5px 10px rgba(0, 0, 0, .6));

  --box-background: var(--low-opacity);
  --box-text: var(--light);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
