.explanation {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2rem;
  background: var(--low-opacity);
  border-radius: 5px;
  padding: 1rem;
}

.pickersWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

@media (max-width: 700px) {
  .pickersWrapper {
    flex-direction: column;
  }

  .explanation {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
